* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/5.jpg");
    background-size: 180vh;
    font-size: 16px;
}

body header {
    text-align: center;
    margin: auto;
    text-shadow: 3px 3px 3px saddlebrown;
}

body header h1 {
    font-size: 3em;
    font-variant: all-small-caps;

    padding: 40px 0;
}

body header p {
    font-size: 1.5em;
    margin-bottom: 4%;
}



body #wrapper {
    background: antiquewhite;

    padding: 10px;
    width: 850px;
    height: 500px;
    margin: auto;

    font-size: 1.3em;
    font-variant: small-caps;
    text-align: center;

    border: saddlebrown groove thick;
    box-shadow: 3px 3px 3px black;

    overflow-y: scroll;
    scrollbar-color: saddlebrown orange;
}


body #wrapper .user {
    background: navajowhite;
    border: white thick outset;
    position: relative;
    padding: 5px;
    margin: 10px;
}

body #wrapper .user:nth-child(1) {
    height: 450px;
}

body #wrapper h2 {
    margin: 20px 0;
    font-variant: all-small-caps;
}

body #wrapper #complexitySettings {
    display: grid;
    align-items: center;
    margin: 0 80px;
    grid-template: repeat(5, 1fr) / 1.5fr repeat(3, 1fr) ;
}

body #wrapper #complexitySettings div:nth-child(1){
    text-align: left;
}

body #wrapper #complexitySettings .settingCategory{
    padding: 5px;
    font-size: 0.8em;
    text-align: left;
}

body #wrapper #complexitySettings input{
    width: 70px;
    padding: 5px;
    text-align: center;
    margin: auto;
}


body #wrapper .user button{
    background: black;
    color: white;

    font-size: 1em;
    text-align: center;
    font-variant: all-small-caps;
    font-weight: bold;
    margin-top: 10px;

    border-radius: 15px;
    width: 25%;
    padding: 1.2%;
}


body #wrapper .user button:active, body #wrapper .user button:hover, body #wrapper .user input:active, body #wrapper .user input:focus {
    outline: none;
    text-decoration: none;
    border-color: deepskyblue;
}

body #wrapper .user .error{
    padding: 15px;
    visibility: hidden;
}



body #wrapper #ValiditySettings, body #wrapper #TrySettings {
    padding: 20px 40px 0 40px;
}

body #wrapper .grid1 {
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr 1fr 1fr;
    align-items: center;
}

body #wrapper .grid2 {
    display: grid;
    grid-template: repeat(2, 1fr) / 3.7fr repeat(3, 1fr);
    align-items: center;
}

html body #wrapper .user:first-child button {
    margin-top: 30px;
}


body #wrapper #ValiditySettings .settingCategory, body #wrapper #TrySettings .settingCategory{
    font-size: 0.8em;
    text-align: left;
}

body #wrapper #ValiditySettings input, body #wrapper #TrySettings input {
    width: 80px;
    padding: 5px;
    text-align: center;
    margin: auto;
}






body footer {
    background: black;
    color: white;
    text-align: center;

    display: grid;
    align-content: center;
    grid-template-columns: 0.3fr 2fr 1.2fr 2fr 0.3fr;

    position: absolute;
    bottom: 0;

    height: 40px;
    padding: 10px;
    width: 100%;
}

body footer div:nth-child(3){
    border-right: 1px solid white;
    border-left: 1px solid white;
}

body footer a {
    color: white;
    text-decoration: none;
}