* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/1.jpg");
    background-size: 180vh;
    font-size: 16px;
}


body header {
    width: 700px;
    margin: auto;
    color: white;
    text-shadow: 3px 3px 3px black;
}
body header h1 {
    text-align: center;
    font-size: 4em;
    font-variant: all-small-caps;

    padding: 40px 0;
}

body header p {
    font-size: 1.5em;
    margin-bottom: 5%;
}


body #wrapper {
    background: url("../img/5.jpg");
    background-size: 650px;

    padding: 10px 50px 30px 50px;
    width: 550px;
    margin: auto;

    color: white;
    text-shadow: 3px 3px 3px black;
    text-align: center;

    border: lightgrey groove thick;
    box-shadow: 3px 3px 3px black;
}
body #myForm .inputs {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    align-items: center;
}

body #myForm .inputs input, body #myForm .inputs span {
    margin: 20px 10px 0 10px;
}
body #myForm .inputs span {
    font-variant: small-caps;
    font-size: 1.5em;
}

body #myForm .inputs input {
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
}

body #myForm #confirm_password{
    display: none;
}


body #myForm #error_id, body #myForm #complexity {
    margin: 10px;
    font-size: 1.3em;
    text-align: right;
}

body #myForm #complexity {
    margin: 10px;

    display: none;
    grid-template-columns: 10fr 10fr 1fr;
    align-items: center;
    text-align: right;
}
body #myForm #complexity div {
    padding: 10px;
}

body #myForm #complexity #complexity_div {
    background: black;
    border-radius: 10px;
    height: 02%;
    width: 40px;
}


body #myForm #validate,body #switch{
    background: black;
    color: white;

    font-size: 1.1em;
    text-align: center;
    font-variant: all-small-caps;
    font-weight: bold;

    margin-top: 30px;
    border-radius: 15px;
    width: 100%;
    padding: 2%;
}

body #switch {
    margin-top: 15px;
}

body #myForm #validate:active, body #switch:active, body #myForm input:active, body #myForm input:focus {
    outline: none;
    text-decoration: none;
    border-color: deepskyblue;
}









body footer {
    background: black;
    color: white;
    text-align: center;

    display: grid;
    align-content: center;
    grid-template-columns: 0.3fr 2fr 1.2fr 2fr 0.3fr;

    position: absolute;
    bottom: 0;

    height: 40px;
    padding: 10px;
    width: 100%;
}

body footer div:nth-child(3){
    border-right: 1px solid white;
    border-left: 1px solid white;
}

body footer a {
    color: white;
    text-decoration: none;
}